<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasmine</title>
    <link rel="stylesheet" href="./css/boostrap.min.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">  
</head>
<!-- <body>
    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><img src="./title_icon.png" alt="logo" class="logo_title"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Experience</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Skill</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About me</a>
                      </li>
                    </ul>
                  </div>
                </div>  
              </nav>
        </div>
    </header> 
</body> -->

<body>
    <!-- <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><img src="./title_icon.png" alt="logo"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Experience</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Skill</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About me</a>
                      </li>
                    </ul>
                  </div>
                </div>  
              </nav>
        </div>
    </header> -->

    <div id="block"></div>
    <div id="block1"></div>
    <div id="block2"></div>
    <div id="block_a"></div>
    <div id="block_b"></div>
    <div id="timeline"></div>
   
    <img src="./useit_me.png" alt="about us" class="img">
    <img src="./bg2.png" alt="about us" class="img1">  
    <img src="./phone_icon.png" class="icon_phone">
    <img src="icon_mail.png" class="mail_icon">
    <img src="icon_youtube.jpg" class="youtube_icon">
    <img src="ig_icon.jpg" class="ig_icon">
    <main class = "site-main">
     <section class ="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-lo-6 col-md-12 site-title">
                    <h1 class="title-text">楊家瑜Jasmine</h1>
                    <h3 class="school">國立交通大學</h3>
                    <h4 class="school_eng">National Chiao Tung University</h5>
                    <h4 class="school_d">資訊管理與財務金融學系-資管組</h3>
                </div>
            </div class="col-lo-6 col-md-12"></div>
         </div>
      </section>
    </main>
    
    <img src="./bg3.png" alt="about us" class="img2"> 
</body>
<body>
    <main class = "site-main1">
        <section class ="site-banner">
           <div class="container">
               <div class="row">
                   <div class="col-lo-6 col-md-12 site-title">
                      <h4 class="title-text">0927012058</h4>
                      <h4 class="school">jasmine2001tw@gmail.com</h3>
                      <h4 class="school_eng">
                      <a href="https://www.youtube.com/channel/UC-tmkX7oLochgHQzYtcK8yg">ItsJasmine!</a>
                      </h4>
                      <h4 class="school_d">jasmine2001_yu</h3>
                   </div>
             
               </div class="col-lo-6 col-md-12"></div>
            </div>
         </section>
       </main>
</body>
<body>
    <div id="title">學習&專業經驗</div>
    <main class ="important">
        <section class = "year2020">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h2 class = "years">2020</h2>
                        <h4 class = "content">◎大專院校資訊應用創新服務競賽台北生活好便利創新應用組-第二名</h4>
                        <h4 class = "content">◎投入交通大學傳科虛擬棚專題製作</h4>
                        <h4 class = "content">◎參與系學會活動組籌辦小梅竹</h4>
                        <h4 class = "content">◎擔任迎新與資財營組輔組負責人</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <main class ="important">
        <section class = "year2019">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h2 class = "years">2019</h2>
                        <h4 class = "content">◎實習於華視電視記者主播部門</h4>
                        <h4 class = "content">◎學習於華視2019夏季演員班</h4>
                        <h4 class = "content">◎擔任新竹市「管樂‧管悅」主持人</h4>
                        <h4 class = "content">◎旺宏科學獎 最佳人氣獎</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <main class ="important">
        <section class = "year2018">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h2 class = "years">2018</h2>
                        <h4 class = "content">◎第58屆全國科學展覽會「工程技術類」第二名</h4>
                        <h4 class = "content">◎3M科技改善生活獎全國第二名(投入公司商品製造與改良)</h4>
                        <h4 class = "content">◎第58屆國立公私立高級中學第二區科學展覽會「工程技術類」第一名</h4>
                        <h4 class = "content">◎嘉南藥理大學環境永續學院「環境科技專題製作競賽」全國第四名</h4>
                        <h4 class = "content">◎擔任新竹市16屆藝術之夜-主持人</h4>
                    </div>          
                </div>
            </div>

        </section>
    </main>
    <main class ="important">
        <section class = "year2017">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h2 class = "years">2017</h2>
                        <h4 class = "content">◎擔任新竹市15屆藝術之夜-主持人</h4>
                        <h4 class = "content">◎新竹市國語朗讀比賽第三名</h4>
                    </div>         
                </div>
            </div>

        </section>
    </main>
    <div id="line1"></div>
    <div id="line2"></div>
    <div id="line3"></div>
    <div id="title2">具備能力</div>
    <main class ="important">
        <section class = "skill1">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h3 class = "years">程式能力</h3>
                        <h4 class = "content">◎具備基本的C/C++/Paython/Android Studio程式設計能力</h4>
                        <h4 class = "content">◎擔任交大程式菁英培訓營講師</h4>
                    </div>         
                </div>
            </div>

        </section>
    </main>
    <main class ="important">
        <section class = "skill2">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h3 class = "years">演講主持與上台經驗</h3>
                        <h4 class = "content">◎兩年科展比賽的準備與高中研究方法實驗班的訓練，擁有多次上台發表的經驗。</h4>
                        <h4 class = "content">◎近年來參與6場科學或資訊競賽</h4>
                        <h4 class = "content">◎有幸研究被3M公司相中，以全英文方式報告研究商品改善計畫</h4>
                        <h4 class="content">◎有兩年主持新竹市大型藝文活動經驗。並參與華視培訓。</h4>
                    </div>         
                </div>
            </div>

        </section>
    </main>
    <main class ="important">
        <section class = "skill3">
            <div class="container">
                <div class="row">
                    <div class="site-title">
                        <h3 class = "years">企劃與影片製作能力</h3>
                        <h4 class = "content">◎參與虛擬棚專題製作發想廣告企
                            劃並提案與廣告公司討論。</h4>
                        <h4 class = "content">◎正在嘗試屬於自己的影音頻道</h4>
                    </div>         
                </div>
            </div>

        </section>
    </main>
    <div id="title3">ABOUT ME</div>
    
    <main class ="important">
        <section class = "aboutme">
            <div class="container">
                <div class="row">
                    <div class="site-title">                     
                        <h4 class = "content">  從小就知道自己很喜歡舞台上的感覺，首次參與戲劇演出是新竹市校園宣導劇並二次代表新竹市參加國語朗讀比賽，也有多次主持藝術典禮的經驗。為了加深自己對傳播業的了解及台風等能力的培養，高中畢業後花了兩個月的時間於華視實習，提升自我表達能力。</h4>
                        <h4 class = "content">  高中時加入科學班，因緣際會開始研究工程技術，除了過程中不斷的挫敗與嘗試依舊要堅定自己做得到的信念外，我認為更重要的精神是，為了突破研究困境花上無數日夜，只為尋求一個機會的可能，在將近兩年的研究與比賽過程中，口條與簡報的能力上獲得不凡的成長，並有幸研究結果被3M公司相中，獲得機會實際參與產品的設計與製作，明白一項商品的製作是多麼複雜與繁瑣，過程中也面對到前所未有的質疑，學會透過對話與討論，去檢視自己與說服他人，最終獲得共識。</h4>
                        <h4 class="content">    這些經驗是難能可貴的。</h4>
                        </div>         
                </div>
            </div>

        </section>
    </main>
    <img src="./jasmine_self.jpg"alt="about us" class="img_me">
    <script src="./js/jquery3.6.0.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    
</body>

</html>